# Environment Configuration

# Backend API URL without /api/v1
NEXT_PUBLIC_API_URL=https://your-superadmin-backend-domain.example.com

# App Config
NEXT_PUBLIC_APP_NAME="BG Platform Admin"
NEXT_PUBLIC_APP_ENV=production
